* {
    font-family: "redhat";
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.petitenav {
    display: flex;
    height: 7.5vh;
    width: 100vw;
    background-color: #f5f5f5;
    margin-bottom: 0;
}

.elementleft {
    height: 7.5vh;
    width: 25vw;
    display: flex;
    align-items: center;
    margin-left: 2.5%;
}

.elementleft span {
    opacity: 80%;
    font-size: 75%;
}

.elementleft i {
    color: #ab754a;
    margin-left: 5%;
    padding-right: 1%;
}

.elementright {
    height: 7.5vh;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 1%;
    margin-left: 44%;
}

.elementright span {
    opacity: 80%;
    font-size: 75%;
    margin-right: 5%;
}

.elementright i {
    color: #ab754a;
    margin-left: 2.5%;
    padding-right: 1%;
}

.imodifier {
    display: flex;
    background-color: white;
    height: 55%;
    width: 9.5%;
    margin-left: 1%;
    align-items: center;
    justify-content: center;
}

.titrenav {
    color: #ab7442;
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 3%;
}

.getaquote {
    background-color: #ab7442;
    height: 10vh;
    width: 10vw;
}

.getaquote span {
    color: white;
}

.getaquote i {
    color: white;
}

.navborder {
    padding-top: 0;
    padding-bottom: 0;
}

.ahover:hover {
    color: saddlebrown;
}

.bgblanc {
    background-color: white;
}

.carousel-item img {
    filter: brightness(50%);
}

.textmod {
    position: absolute;
    font-weight: bolder;
    bottom: 1100%;
    left: 25%;
    

}

.pmod {
    position: absolute;
    font-weight: bolder;
    bottom: 1333%;
    left: 40%;

}

.spanmod {
    position: absolute;
    bottom: 950%;
    left: 20%;

}

.btn1mod {
    position: absolute;
    bottom: 777%;
    left: 35%;
    border: none;
    padding: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    background-color: #ab7442;
    
}
.btn2mod {
    position: absolute;
    bottom: 777%;
    left: 50%;
    border: none;
    padding: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    color: black;
    background-color: white;
    
}


.pointsfort {
    display: flex;
    height: 50vh;
    width: 100vw;
    background-color: white;
    align-items: center;
    justify-content: center;
}


.pf {
    // border: 2px solid black;
    height: 25%;
    width: 10%;
}


.pf span {
    display: flex;
    font-weight: bold;
    margin-top: 10%;
}

.pfnbr {
    font-weight: bolder;
    font-size: 333%;
    color: #f5f5f5;
    margin-right: 2.5%;

}