* {
    font-family: "redhat";
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.why {
    display: flex;
    height: 50vh;
    width: 100vw;
    background-color: #f5f5f5;
    justify-content: flex-end;
}

.whyimg {
    display: flex;
    width: 50%;

}

.whyimg img {
    object-fit: cover;
}


.whytxt h1 {
    font-weight: bolder;
    margin-top: 10%;
    margin-left: -5%;
    width: 65%;

}

.whytxt span {
    display: flex;
    margin-top: 2.5%;
    margin-left: -5%;
    width: 100%;
}